res/diamond.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Gems">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Gem">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name" type="xs:string" />
              <xs:element name="Origin" type="xs:string" />
              <xs:element name="VisualParameters">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Color" type="xs:string" />
                    <xs:element name="Transparency">
                      <xs:simpleType>
                        <xs:restriction base="xs:unsignedByte">
                          <xs:minInclusive value="0"/>
                          <xs:maxInclusive value="100"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="Cut">
                      <xs:simpleType>
                        <xs:restriction base="xs:unsignedByte">
                          <xs:minInclusive value="4"/>
                          <xs:maxInclusive value="15"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Value" type="xs:decimal" />
            </xs:sequence>
            <xs:attribute name="id" type="xs:unsignedByte" use="required" />
            <xs:attribute name="preciousness" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>